@use 'colors';
@use 'mixins';

@import url(//fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700);

//variables
$max-width: 1400px;


// widely used styles
html {
    font-size: 62.5%;
}

body {
    color: colors.$font-white;
    background: colors.$gradient-BG;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    height: 100%;
    font-size: clamp(1.6rem, 2vw, 1.8rem);
}

.wrapper {
   padding: 1rem; 
   max-width: $max-width;
   margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 700;
    margin: 0;
}

p {
    letter-spacing: 0.5px;
    margin: 0;
}



h1 {
    font-size: clamp(5rem, 7vw, 7rem);
    margin: 4rem 0;
    text-align: center;
    letter-spacing: 1.5px;
}

.name {
    h1 {
      font-size: clamp(8rem, 10vw, 10rem);
      margin: 0;
    }
}

h2 {
    font-size: clamp(3rem, 4vw, 4rem);
    letter-spacing: 1px;
}

h3 {
    font-size: clamp(2rem, 2.5vw, 3rem);
}

.wrapper {
    min-height: calc(100vh - 12.1rem);
}

@media only screen and (min-width: 700px) {
    h1 { text-align: left; }
}