// base colors
$bg-color: #373133;
$font-white: #f6f6f6;
$font-hover: #9f9f9f;

// accent colors
$sunrise: #fffe00;
$sunrise-alt: #ff8f0a;

// $sunset: #c50d5c; 
$sunset: #b40a6a;
$sunset-alt: #76026b;

$midday: #e0604b;
$midday-alt: #a03056;