// base colors
$bg-color: #373133;
$bg-color-light: #47383d;
$font-white: #f6f6f6;
$font-light: #b3b3b3;
$font-hover: #e0604b;

// accent colors
$sunrise: #fffe00;
$sunrise-alt: #ff8f0a;

// $sunset: #c50d5c; 
$sunset: #b40a6a;
$sunset-alt: #76026b;

$midday: #e0604b;
$midday-alt: #a03056;

$gradient: linear-gradient(45deg, $sunset, $midday, $sunrise);
$gradient-alt: linear-gradient(45deg, $sunset-alt, $midday-alt, $sunrise-alt);
$gradient-BG: linear-gradient(180deg, $bg-color, $bg-color-light);