@use 'reset';
@use 'colors';
@use 'mixins';
@use 'base';

@keyframes animatedText{
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}

@keyframes colorChange {
    0% { border: 4px solid colors.$sunset; }
    50% { border: 4px solid colors.$midday; }
    100% { border: 4px solid colors.$sunrise; }
}

@keyframes colorChangeBG {
    0% { background-color: 4px solid colors.$sunset; }
    50% { background-color: 4px solid colors.$midday; }
    100% { background-color: 4px solid colors.$sunrise; }
}