@use 'colors';

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-grid-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

@mixin flex-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}