@use 'reset';
@use 'colors';
@use 'mixins';
@use 'base';

.navigation {
    .nav-pages {
        @include mixins.flex-between;
        margin: 0 auto;
        width: 300px;

        p {
            color: colors.$sunset;
            font-weight: 900;
            font-size: 2rem;
        }

        a {
            padding: 1rem;
            font-size: 2rem;
            font-weight: 500;
            transition: 0.5s;

            &:hover{ color: colors.$font-hover; } 
        }
    }

    .logo {
        height: 100px;
        width: 100px;
        margin: 0 auto;
        &:hover {
            cursor: pointer;
        }
    }
}

.name {
    margin-bottom: 2rem;

    h1 {
        margin: 0;
        background: colors.$gradient;
        background-clip: text;
        color: transparent;
        line-height: 1.2;
        background-size: 400%;
        background-position: -100%;
        animation: animatedText 4s infinite alternate-reverse;
    }
}

.flex-container {
    margin: 4rem 0;
    min-height: 65vh;
}

.banner {
    text-align: center;
    margin-bottom: 8rem;
}

.bio {
    max-width: 600px;

    .action-links {
        display: grid;
        
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin-top: 2rem;

        .card {
            justify-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title { font-weight: 700;}

            p {
                transition: 0.25s;
                text-align: center;
            }

            &:hover {
                cursor: pointer;
                p {
                    opacity: 1;
                }
                
                .circle {
                    background-color: colors.$bg-color-light;
                    svg {
                        height: 4.5rem;
                    }
                }
            }
        }

        .circle {
            border: 4px solid colors.$midday;
            animation: colorChange 4s infinite alternate-reverse;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;
            transition: 0.25s;

            svg {
                height: 3.5rem;
                transition: 0.5s;
            }
        }
    }
}

footer {
    width: 100%;
    height: 100px;

    p {
        text-align: center;
    }

    ul {
        @include mixins.flex-between;
        max-width: 300px;
        margin: 0 auto;
        padding: 1rem;

        a {
            padding: 1rem;
        }

        svg {
            height: 40px;
            transition: 0.25s;
            &:hover { fill: colors.$font-hover; }
        }
    }

    .gradient {
        height: 1.35rem;
        width: 100%;
        background: colors.$gradient;
    }
}

// ===============     projects page     ===============


.projects-grid {
    display: grid;
    grid-gap: 3rem;
    
    .card {

        h2 {
            padding: 2rem;
            text-align: center;
        }

        > div {
            border: 4px solid colors.$bg-color;
            transition: 0.5s;
        }

        &:hover {
            cursor: pointer;

            > div {
                border: 4px solid colors.$midday;
            }
        }
    }
}


// ===============     contacts page     ===============
.contact-info {
    width: 350px;
    margin: 0 auto;
    font-size: clamp(1.8rem, 2vw, 2rem);

    >div{
        display: flex;
        align-items: center;
        margin: 2rem 0;
    

        svg {
            height: 3.5rem;
            margin-right: 1rem;
        }
    }
}


@media only screen and (min-width: 450px) {
    .navigation {
        .nav-pages {
            width: 400px;
        }
    }

    .bio .action-links {
        grid-template-columns: repeat(3, 1fr);
    }

    
}

@media only screen and (min-width: 700px) {
    .navigation {
        @include mixins.flex-between;

        .nav-pages {
            margin: 0;
        }

        .logo {
            margin: 0;
        }
    }

    .flex-container {
        @include mixins.flex-grid-2;

        .banner {
            text-align: left;
        }

        .bio, 
        .banner,
        .contact-info {
            align-self: center;
        }
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-info {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {

    .bio .action-links .card p {
        opacity: 0;
    }

    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@keyframes animatedText{
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}

@keyframes colorChange {
    0% { border: 4px solid colors.$sunset; }
    50% { border: 4px solid colors.$midday; }
    100% { border: 4px solid colors.$sunrise; }
}